%card {
    width: 100%;
    padding: 15px;
    box-shadow: none;
    border: 1px solid #c7c7c7;
}

.card {
    @extend %card;

    @media screen and (min-width: 480px) {
        width: $main-card-width;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        border: none;
    }
}

.card-top {
    padding: 0;
    height: 88px;
    border: none;
    box-shadow: none;
}

.s-card {
    @extend %card;
}

.s-card-top {
    border: none;
}

.highlighted {
    border-color: $red-400;
    border-width: 3px;

    @media screen and (min-width: 480px) {
        box-shadow: 1px 0px 4px 1px $red-400;
    }
}

/****************
 Highlighted words
 ****************/
.il {
    background: #eb9f86;
    color: #222;
}