.bg-main-color {
  color: #fff;
  background-color: $main-color;
}

.red {
  color: $red-400;
}

.bg-red {
  color: #fff;
  background-color: $red-400;
}

.bg-dark {
  background-color: $gray-600;
  color: white;
}