$width-search-icon: 32px;
.search-box {
  position: relative;
  &::before {
    content: " ";
    background-image: url(./assets/img/search_icon.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: $width-search-icon;
    height: $width-search-icon - 1;
    display: block;
    position: absolute;
    right: $width-search-icon;
    top: 50%;
    transform: translateY(-$width-search-icon/2);
    opacity: 0.2;
  }
  input {
    font-size: rem(26);
    width: 100%;
    height: rem(50);
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: rem(10) rem(25); // position: relative;
    transition: all 0.2s;
    transition-delay: 0.1s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 480px) {
      height: rem(64);
    }

    &:focus {
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
    }
    
  }
}

.user-is-typing {
  .search-box {
    &::before {
      opacity: 0;
    }
  }
}

::placeholder {
  text-align: right;
  color: $gray-200;
}
