$width-search-icon: 40px;
$width-search-icon-small: ($width-search-icon / 1.28);
.search-box {
  position: relative;
  &::before {
    content: " ";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==);
    background-position: 0 0;
    background-size: $width-search-icon-small $width-search-icon-small;
    background-repeat: no-repeat;
    width: $width-search-icon-small;
    height: $width-search-icon-small;
    display: block;
    position: absolute;
    right: $width-search-icon-small;
    top: 50%;
    transform: translateY(-$width-search-icon-small/2);
    opacity: 0.2;
    pointer-events: none;
    @media screen and (min-width: 480px) {
      width: $width-search-icon;
      height: $width-search-icon;
      background-size: $width-search-icon $width-search-icon;
      transform: translateY(-$width-search-icon/2);
    }
  }
  input {
    font-size: rem(26);
    width: 100%;
    height: rem(50);
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: rem(10) rem(25); // position: relative;
    transition: all 0.2s;
    transition-delay: 0.1s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 480px) {
      height: rem(64);
    }

    &:focus {
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
    }
    
  }
}


::placeholder {
  text-align: left;
  color: $gray-200;
}
